body{
	background: linear-gradient(269deg, #020202, #020202, #0a0a0a, #020202, #020202);
	background-size: 1000% 1000%;
	-webkit-animation: AnimationName 16s ease infinite;
	-moz-animation: AnimationName 16s ease infinite;
	animation: AnimationName 16s ease infinite;
	margin: 0;
	background-color: #020202;
}
@-webkit-keyframes AnimationName {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}
@keyframes AnimationName { 
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}
p{
	margin: 0;
}

button{
	background: none;
	border: none;
}

button:focus{
	outline: 0;
}

@font-face {
    font-family: "Akkurat-Bold";
    src: local(Akkurat-Bold),  
    	 url(http://www.noahbotelho.com/akkurat-bold.ttf) format("truetype");
}
.h1{
	color: #FFFFFF;	
	font-family: "Akkurat-Bold";	
	font-size: 5.5vw;	
	letter-spacing: -.2vw;	
	line-height: 0.7em;	
	font-weight: normal;
    font-style: normal;
    margin: 0;
    width: fit-content;
    height: 1.2em;
    font-kerning: none;
}
h4{
	height: 22px;	
	width: 192px;	
	color: #5C5C5C;	
	font-family: Baskerville;	
	font-size: 18px;	
	line-height: 20px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased !important;
}
a{
	text-decoration: none;
	color: inherit;
}

.character-r{
	letter-spacing: 0.1vw;
}

/* Noise */
.noise {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    height: 100%;
    
    pointer-events: none;
    opacity: 0.15;
}

/* Nav */
nav{
	height: 100%;
	width: 75px;
	border-right: 0.5px solid #141414;
	position: fixed;
}

.visible{
	visibility: visible !important;
	opacity: 1 !important;
	transition: opacity 0.4s ease-in, visibility 0.4s ease-in;
}
.hidden{
	visibility: hidden !important;
	opacity: 0 !important;
	transition: opacity 0.4s ease-in, visibility 0.4s ease-in;
}
.fade{
	opacity: 0.1 !important;
	transition: opacity 0.3s ease-in-out;
}
.title{
	    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    transform-origin: center;
    transform: rotate(-180deg);
	position: absolute;
	bottom: 0;
	position: absolute;
    bottom: 40px;
    width: auto;
    height: auto;
}
.name{
	color: white;
}
.hamburger{
	position: absolute;
	width: 30%;
    padding: 26px;
    display: block;
    border-bottom: 0.5px solid #141414
}

/* Intro */
.intro-outer{
	height: 100vh;
	width: 100%;
}
.intro{
	display: inline-block;
	position: relative;
	width: 50%;
	margin: 13% 25%;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}
.intro-ui{
	z-index: 8;
	-webkit-text-stroke: 0.7px rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0);
	position: relative;
	display: inline-block;
	 outline-bottom: 4px solid red;
  outline-offset: 15px;
}
.intro-ui:before{
	content:"";
    width:100%;
    position: absolute;
    border-bottom: 1.5px dashed rgba(255, 255, 255, 0.2);
    bottom: 28%;
}
.intro-ui:hover{
	-webkit-text-stroke: 0.7px rgba(255, 255, 255, 0);
	color: rgba(255, 255, 255, 1);
}
.intro-montreal{
	z-index: 10;
	position: relative;
	display: inline-block;
	-webkit-text-stroke: 0.7px rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0);
}
.intro-montreal:before{
	content:"";
    width:100%;
    position: absolute;
    border-bottom: 1.5px dashed rgba(255, 255, 255, 0.2);
    bottom: 28%;
}
.intro-ui-gif, .intro-montreal-gif{
	width: 35vw;
	position: absolute;
	left: 100px;
	top: 10px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.4s ease-in, visibility 0.4s ease-in;
}
.intro-ui-gif-container, .intro-montreal-gif-container{
	position: absolute;
	z-index: 3;
	top: 0;
	left: 10%;
}
.intro-montreal:hover{
	color: #E02929;
	-webkit-text-stroke: 0.7px rgba(255, 255, 255, 0);
	color: rgba(206, 49, 57, 1);
}
.header-1, .header-3, .header-4{
	z-index: 2;
	transition: color 0.125s ease-out;
}
.project-item-container{
	margin-top: 10em;
}

.title-traverse:hover{
	color: #5190DA;
}
.title-beavertails:hover{
	color: #CD1F46;
}
.title-saintstreet:hover{
	color: #CEB59B;
}
.title-nhl:hover{
	color: #FE7902;
}
.title-stromung:hover{
	color: #00913c;
}

.scrolldown{
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 1px;
	height: 75px;
	background: #333;
	transition: opacity 0.4s ease-in, visibility 0.4s ease-in;
}
.scrolldown:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	animation: animate 1.6s linear infinite;
}
@keyframes animate{
	0%{
		transform-origin: top;
		transform: scaleY(0);
	}
	50%{
		transform-origin: top;
		transform: scaleY(1);
	}
	51%{
		transform-origin: bottom;
		transform: scaleY(1);
	}
	100%{
		transform-origin: bottom;
		transform: scaleY(0);
	}
}

.scene path {
	fill: #171817;
		-webkit-transition: fill .4s ease;
	 	-moz-transition: fill .4s ease;
	 	-o-transition: fill .4s ease;
	 	transition: fill .4s ease;
}
.content{
    position: fixed;
    width: 30%;
    margin: 13% 25%;
    top: 0;
    right: 0;
    z-index: -1;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in, visibility 0.2s ease-in;
}
.projects-outer{
	position: relative;
}
.gradient {
  fill: url('#linearGradient-1');
  transition: fill 5s ease-in-out;
}
.gradient-traverse{
	fill: url('#linearGradient-2') ;
	opacity: 1;
	transition: opacity fill 5s ease-in-out;
}
.gradient-beavertails{
	fill: url('#linearGradient-3') ;
	transition: fill 5s ease-in-out;
}
.gradient-saintstreet{
	fill: url('#linearGradient-4') ;
	transition: fill 5s ease-in-out;
}
.gradient-nhl{
	fill: url('#linearGradient-5') ;
	transition: fill 5s ease-in-out;
}
.gradient-stromung{
	fill: url('#linearGradient-6') ;
	transition: fill 5s ease-in-out;
}

.gradient ~ defs stop {
  transition: 2s;
}

.gradient:hover ~ defs stop:first-child {
  stop-color: #353535;
}
.gradient:hover ~ defs stop:last-child {
  stop-color: #181818;
}


@media only screen and (max-width: 1440px){
	.intro{
		margin: 14% 12%;
		width: 76%;
	}
	.nav-left{
		margin-left:12%;
	}
	.nav-right{
		margin-right:12%;
	}
	.nav-inner{
		padding: 0 12%;
		width: 76%;
	}
	.project-item-container {
    	margin-top: 8em;
	}
	.content{
		margin: 6% 25%;
	}
}